<!DOCTYPE html>
<% layout('/layouts/boilerplate')%>

<div class="container mt-3" id="inputForm">
	<div class="row">
		<h1 class="text-center">New Skate Ground</h1>
			<div class="col-6 offset-3">
				<form action="/skategrounds" method="POST" id="form1" class="validated-form "novalidate enctype="multipart/form-data">
					<div>
						<input class="form-control mb-2"type="text" name="skateground[title]" id="title" placeholder="Title" required>
					</div>
					<div class="form-file custom-file-">
						<input type="file" class="form-control custom-file-lable" id="image" name="image" multiple>
						<!-- 	<label class="input-group-text" for="image">Images</label>-->
					</div>
					<div class="form-check form-check-inline">
						<input type="checkbox" class="form-check-input" id="rails" name="skateground[rails]" checked>
						<label class="form-check-label" for="rails">rails</label>
					</div>
					<div>
						<textarea class="form-control mb-2" type="text" name="skateground[description]"  id="description"  placeholder="Description" required></textarea>
					</div>
						<button type="submit" class="btn btn-primary" form="form1">Create</button>
				</form>
			</div>
			</div>
	</div>
</div>
